:root {
  --font-primary: "Roboto", sans-serif;

  --bg-primary: #3882f6;
  --bg-hero: #1f2937;
  --bg-quote: #e5e7eb;

  --text-foreground: #f9faf8;
  --text-secondary: #e5e7eb;
  --text-logo: #f9faf8;
  --text-quote: #1f2937;

  --font-lg: 18px;
  --font-2xl: 24px;
  --font-4xl: 36px;
  --font-5xl: 48px;

  --font-bold: 900;
  --font-light: 300;
}

* {
  font-family: var(--font-primary);
}

body {
  margin: 0;
}

section {
  padding: 6rem 15%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* NAV SECTION */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15%;
  background-color: var(--bg-hero);
}

nav span {
  font-size: var(--font-2xl);
  color: var(--text-logo);
  font-weight: var(--font-bold);
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  color: var(--text-secondary);
}

nav a {
	position: absolute;
	top: 1rem;
	left: 1rem;
	color: var(--text-secondary);
}

/* HERO SECTION */

.hero {
  background-color: var(--bg-hero);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  justify-content: center;
  align-items: center;
}

.hero div:first-child {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero h1 {
  font-size: var(--font-5xl);
  color: var(--text-foreground);
  font-weight: var(--font-bold);
  line-height: 1.1;
  margin: 0;
}

.hero p {
  font-size: var(--font-lg);
  color: var(--text-secondary);
  line-height: 1.5;
  margin-top: 1rem;
}

.hero button {
  background-color: var(--bg-primary);
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
  color: var(--text-foreground);
  border: none;
  border-radius: 8px;
	margin-top: 2rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
}

.hero-image-bg {
	background-color: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero img {
  height: 100%;
}

/* GALLERY SECTION */

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.gallery h2 {
  font-size: var(--font-4xl);
  font-weight: var(--font-bold);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 0 8rem;
}

.grid div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border: 4px solid var(--bg-primary);
  border-radius: 16px;
}

.grid p {
  font-size: var(--font-lg);
}

/*QUOTE SECTION */

.quote {
  background-color: var(--bg-quote);
  display: flex;
  flex-direction: column;
  padding: 8rem 20%;
}

.quote blockquote {
  font-size: var(--font-4xl);
  font-weight: var(--font-light);
  color: var(--text-quote);
  line-height: 1.5;
  margin: 0;
}

.quote p {
  font-size: var(--font-2xl);
  font-weight: var(--font-bold);
  text-align: right;
}

/*CTA SECTION */

.cta {
  text-align: center;
}

.cta-container {
	background-color: var(--bg-primary);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 4rem 8rem;
	border-radius: 8px;
	color: var(--text-foreground);
}

.cta-container div {
  display: flex;
  flex-direction: column;
  align-items: start;
	gap: 1rem;
}

.cta-container h2 {
  font-size: var(--font-2xl);
  font-weight: var(--font-bold);
}

.cta-container p {
  font-size: var(--font-lg);
	margin: 0;
}

.cta-container button {
	background-color: transparent;
	color: var(--text-foreground);
	border: 2px solid var(--text-foreground);
	cursor: pointer;
	border-radius: 8px;
	padding: 0.5rem 2.5rem;
	font-size: var(--font-lg);
	font-weight: var(--font-bold);
}

/*FOOTER SECTION */

footer {
  background-color: var(--bg-hero);
  text-align: center;
	padding: 2rem;
	font-size: var(--font-lg);
	color: var(--text-secondary);
}

